@media only screen and (max-width: 768px) {
    div.carousel-bullet{
        border-radius: 12px;
        width: 12px;
        height: 12px;
        background: white;
        margin: 4px;
    }

    div.carousel-left-arrow{
        left: 0;
    }
}

.carousel-bullets{
    position: relative;
    display: flex;
    justify-content: center;
    left: -50%;
}

.carousel-bullets-container{
    position: absolute;
    left: 50%;
    top: 82%;
}

.carousel-bullet{
    border-radius: 12px;
    width: 18px;
    height: 18px;
    background: white;
    margin: 8px;
}

.carousel-bullet.active{
    background: orange;
}

.carousel-right-arrow{
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(to right, rgba(255,  255, 255, 0), rgba(30, 54, 59, 0.9));
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.carousel-left-arrow{
    position: fixed;
    left: 250px;
    width: 20%;
    height: 100%;
    cursor: pointer;
    background: linear-gradient(to left, rgba(255,  255, 255, 0), rgba(30, 54, 59, 0.9));
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.carousel-right-arrow:hover{
    opacity: 1;
}

.carousel-left-arrow:hover{
    opacity: 1;
}

.carousel-main{
    top: 0;
    position: fixed;
    display: flex;
    height: 100%;
    z-index: -2;
}

