<div class="main">
  <div class="container">
    <label class="about-text">_SOBRE</label>

    <div class="about-img">
      <div class="img-outline"></div>
      <img src="assets/img/about/sobre_1.png"/>
    </div>

    <div class="info-text">
        Idealizado pelo Prof. Dr. Eduardo Martins Morgado e fundado em 1995, 
        o Laboratório de Tecnologia da Informação Aplicada - LTIA foi criado com o intuito de promover, 
        à alunos de graduação e mestrado, um ambiente semelhante ao encontrado no mercado de trabalho,
        estimulando a curiosidade acerca de novas tecnologias e incentivando o desenvolvimento das habilidades 
        dos alunos que compõem o Time LTIA. Nosso laboratório oferece uma estrutura propícia para execução 
        de ideias e projetos inovadores, incentiva o aprendizado de novas tecnologias e investe no 
        desenvolvimento de habilidades técnicas e interpessoais de alunos das grandes áreas de Computação, 
        Engenharia, Ciências Biológicas e Design, da Unesp, Câmpus de Bauru.
    </div>
  </div>
</div>