<div class="main">
  <div class="container">
    <span class="about-text" [ngStyle]='getAccessibilityState()? aOn : null'>_SOBRE</span>

    <div class="row about-img">
      <div class="col-11 col-md-12 center-block">
        <outline-item imgUrl="assets/img/about/sobre_1.png"></outline-item>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text ident-text" [ngStyle]='getAccessibilityState()? aOn : null'>
          Idealizado pelo Prof. Dr. Eduardo Martins Morgado e fundado em 1995, 
          o Laboratório de Tecnologia da Informação Aplicada - LTIA foi criado com o intuito de promover, 
          à alunos de graduação e mestrado, um ambiente semelhante ao encontrado no mercado de trabalho,
          estimulando a curiosidade acerca de novas tecnologias e incentivando o desenvolvimento das habilidades 
          dos alunos que compõem o Time LTIA. Nosso laboratório oferece uma estrutura propícia para execução 
          de ideias e projetos inovadores, incentiva o aprendizado de novas tecnologias e investe no 
          desenvolvimento de habilidades técnicas e interpessoais de alunos das grandes áreas de Computação, 
          Engenharia, Ciências Biológicas e Design, da Unesp, Câmpus de Bauru.
        </div>
      </div>
    </div>

    <div class="row about-img">
      <div class="col-11 col-md-12 center-block">
        <outline-item imgUrl="assets/img/about/sobre_2.png"></outline-item>
      </div>
    </div>

    <div class="row">
      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FLTIA.UNESP%2F&width=94&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" width="94" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text">
          <div class="ident-text" [ngStyle]='getAccessibilityState()? aOn : null'>
            Ao trazer para a graduação uma experiência semelhante à vivenciada pelos profissionais no mercado, com o porém de valorizar a liberdade para desenvolver os mais variados projetos na área de tecnologia, a filosofia adotada no LTIA visa incentivar a pró-atividade, o aprendizado, a propagação do conhecimento, o trabalho em equipe, o aperfeiçoamento das habilidades técnicas e o comprometimento com os projetos desenvolvidos.
          </div>
          <div class="ident-text" [ngStyle]='getAccessibilityState()? aOn : null'>
          Graças à essa abordagem e a um time cheio de pessoas talentosas e extremamente dedicadas, já realizamos diversos projetos em parceria com grandes empresas como Motorola, Amazon, Intel e Microsoft. Em meio a projetos grandes e pequenos, sempre buscamos fazer o nosso melhor para que nossas ações impactem o mundo ao nosso redor de maneira positiva e sucessiva.          
          </div>
          <div class="ident-text" [ngStyle]='getAccessibilityState()? aOn : null'>
          Atualmente, dividimos os projetos em grandes áreas: Aplicativos e Sistemas, Internet das Coisas (IoT), Objetos de Aprendizagem e Games (abordando, atualmente, as áreas de Realidade Aumentada e Realidade Virtual). As equipes são divididas de acordo com os projetos dentro destas grandes áreas e também de acordo com o interesse de cada membro, para que todos se sintam motivados e comprometidos com o projeto que estão desenvolvendo.            
          </div>
        </div>
      </div>
    </div>
    
    <span class="world-ltia-text" id="no-mundo" [ngStyle]='getAccessibilityState()? aOn : null'>_LTIA NO MUNDO</span>

    <div class="row about-img">
      <div class="col-11 col-md-12 center-block">
        <outline-item imgUrl="assets/img/about/ltia-no-mundo.png"></outline-item>
      </div>
    </div>

    <div class="row">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fltia.com.br%2F&layout=button&size=small&mobile_iframe=true&width=100&height=20&appId" width="100" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text">
          <div class="ident-text last-text" [ngStyle]='getAccessibilityState()? aOn : null'>
            Apresentamos a seguir todas as equipes do LTIA que conseguiram se classificar para as finais nacionais e mundiais de competições.
            Foram nove participações nos dez anos em que a Imagine Cup utilizou um formato de competição no qual se podia competir diretamente em uma Categoria Mundial.
            Nesse caso, nossas equipes disputaram diretamente contra equipes do mundo todo, desde as primeiras etapas eliminatórias.
            Como tutor dessas equipes, os alunos sempre foram orientados para que procurassem o desafio máximo. Se a razão de participar era aprender, criar, desenvolver, que fosse nas categorias nas quais se competia em inglês e contra equipes de alto nível o tempo todo.
            Em 2013, na Rússia, onde esse formato de competição foi utilizado pela última vez, fui entrevistado sobre nosso histórico de dez anos de Imagine Cup e homenageado pela organização das Imagine Cups com um troféu “Facultaty Member Award Americas”, junto a outros quatro professores. Mais emocionante foi receber da Microsoft Brasil a bandeira do Brasil, que acompanhou todas as equipes brasileiras ao pódio de premiação durante esses dez anos e que foi conduzida por nossas equipes quatro vezes.
          </div>
        </div>
        <div class="buttons-container">
            <button
            *ngFor="let participation of participations; let i = index"
            class="button"
            [ngStyle]="{
              'background-color' : activeButton === i ? 'white' : 'transparent',
              'color' : activeButton !== i ? 'white' : '#1395AE'
            }"
            (click)="selectYear(i)">
              {{participation.year}}
            </button>
        </div>
        <div [@fadeIn]="selectedParticipation" class="part-info" *ngIf="selectedParticipation !== undefined">
          <p>{{selectedParticipation.competition}} - {{selectedParticipation.city}}</p>
          <div class="part-team" *ngFor="let team of selectedParticipation.teams">
            <p class="team-name">{{team.name}}: {{team.placement}}</p>
            <div class="team-members">
              <span>Membros:</span>
              <p class="part-member" *ngFor="let member of team.members"> - {{member}}</p>
            </div>
            <div class="team-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text">
          <div class="ident-text" [ngStyle]='getAccessibilityState()? aOn : null'>
            Sinta-se à vontade para conhecer nossos projetos, nossa equipe, curta nossa página no Facebook, siga-nos no Instagram e acompanhe nossos projetos no GitHub e Behance!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>