<div class="main">
  <div class="container">
    <span class="about-text">_SOBRE</span>

    <div class="row">
      <div class="col-11 col-md-12 center-block">
        <div class="about-img">
          <div class="img-outline"></div>
          <img src="assets/img/about/sobre_1.png"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text ident-text">
          Idealizado pelo Prof. Dr. Eduardo Martins Morgado e fundado em 1995, 
          o Laboratório de Tecnologia da Informação Aplicada - LTIA foi criado com o intuito de promover, 
          à alunos de graduação e mestrado, um ambiente semelhante ao encontrado no mercado de trabalho,
          estimulando a curiosidade acerca de novas tecnologias e incentivando o desenvolvimento das habilidades 
          dos alunos que compõem o Time LTIA. Nosso laboratório oferece uma estrutura propícia para execução 
          de ideias e projetos inovadores, incentiva o aprendizado de novas tecnologias e investe no 
          desenvolvimento de habilidades técnicas e interpessoais de alunos das grandes áreas de Computação, 
          Engenharia, Ciências Biológicas e Design, da Unesp, Câmpus de Bauru.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11 col-md-12 center-block">
        <div class="about-img">
          <div class="img-outline"></div>
          <img src="assets/img/about/sobre_2.png"/>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text">
          <div class="ident-text">
            Ao trazer para a graduação uma experiência semelhante à vivenciada pelos profissionais no mercado, com o porém de valorizar a liberdade para desenvolver os mais variados projetos na área de tecnologia, a filosofia adotada no LTIA visa incentivar a pró-atividade, o aprendizado, a propagação do conhecimento, o trabalho em equipe, o aperfeiçoamento das habilidades técnicas e o comprometimento com os projetos desenvolvidos.
          </div>
          <div class="ident-text">
          Graças à essa abordagem e a um time cheio de pessoas talentosas e extremamente dedicadas, já realizamos diversos projetos em parceria com grandes empresas como Motorola, Amazon, Intel e Microsoft. Em meio a projetos grandes e pequenos, sempre buscamos fazer o nosso melhor para que nossas ações impactem o mundo ao nosso redor de maneira positiva e sucessiva.          
          </div>
          <div class="ident-text">
          Atualmente, dividimos os projetos em grandes áreas: Aplicativos e Sistemas, Internet das Coisas (IoT), Objetos de Aprendizagem e Games (abordando, atualmente, as áreas de Realidade Aumentada e Realidade Virtual). As equipes são divididas de acordo com os projetos dentro destas grandes áreas e também de acordo com o interesse de cada membro, para que todos se sintam motivados e comprometidos com o projeto que estão desenvolvendo.            
          </div>
        </div>
      </div>
    </div>

    <span class="world-ltia-text" #scrollTarget>LTIA NO MUNDO</span>

    <div class="row">
      <div class="col-11 col-md-12 center-block">
        <div class="about-img">
          <div class="img-outline"></div>
          <img src="assets/img/about/ltia-no-mundo.png"/>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-10 col-md-12 center-block">
          <div class="info-text ident-text">
            Sinta-se à vontade para conhecer nossos projetos, nossa equipe, curta nossa página no Facebook, siga-nos no Instagram e acompanhe nossos projetos no GitHub e Behance!
          </div>
        </div>
      </div>
  </div>
</div>