@media (max-width: 768px){
    form.contact-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    div.captcha{
        flex-direction: column;
        justify-content: center;
    }

    re-captcha {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

.main {
    position: relative;
    background: url('/assets/img/blue-bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    color: white;
    padding-bottom: 30px;
}

.contact-text {
    font-size: 42px;
    line-height: 50px;
    margin-top: 150px;
    text-align: center;
}

.main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-input {
    background-color: transparent;
    border: 1px solid white;
    resize: none;
    color: white;
    margin-bottom: 15px;
    width: 100%;
}

.contact-form p {
    margin-bottom: 0;
}

.contact-form {
    margin-bottom: 60px;
    width: 60%;
}

.captcha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.captcha button:disabled {
    background-color: white;
    border: 2px solid #c9c9c9;
    color: #c9c9c9;
    align-self: center;
    font-weight: 100;
    cursor: unset;
} 

.captcha button {
    background-color: white;
    border: 1px solid white;
    color: transparent;
    align-self: center;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
}


