<div class="upper-bar">
  <div class="img-container"><img src="./assets/img/logo.png"/></div>
  <div class="tiny-bar"></div>
  <p>LABORATÓRIO DE TECNOLOGIA DA INFORMAÇÃO APLICADA</p> 
</div>

<label [ngClass]="menuStyle" class="menu-button" for="menu"> 
  <div class="menu-stripes">
    <div class="white-stripe"></div> 
    <div class="white-stripe"></div> 
    <div class="white-stripe"></div> 
  </div>
  <div class="menu-text">Menu</div>
</label>

<input id="menu" type="checkbox">
<div class="lateral-bar" [ngClass]="barStyle">
  <ul>
      <li *ngFor="let page of pages"><a [routerLink]="[page.path]">{{page.text}}</a></li>
  </ul>
</div>