@media only screen and (max-width: 768px) {
    /*.lateral-bar {
        left: -250px;
    }*/

    .tiny-bar{
        display: none;
    }

    .upper-bar > p{
        display: none;
    }

    div.img-container > img {
        position: relative;
        left: -50%;
        margin-left: 0;
        margin-right: 0;
    }
    div.img-container {
        position: absolute;
        left: 50%;
    }

    label.menu-button {
        display: flex;
    }

    label[for="menu"].menu-button-pages {
        top: 0px;
        width:15%;
    }
}

@media only screen and (max-width: 590px) {
    div.menu-text {
        display: none;
    }

    div.menu-stripes{
        margin: 0;
    }
}

/********** MENU RESPONSIVO ***********/

label.menu-button-pages {
    display: flex;
    top: 60px;
    width: 250px;
}

input#menu{
    display: none;
}

/*input#menu:checked ~ .lateral-bar{
    left: 0px;
}*/

.menu-stripes {
    margin-right: 10px;
    width: 24px;
}

.menu-button {
    position: fixed;
    top: 0;
    display: none;
    width: 15%;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: rgba(23, 42, 45, 0.75);
    user-select: none;
    z-index: 1000;
}

.white-stripe{
    height: 2px;
    background-color: white;
    margin-bottom: 6px;
}

/***************** BARRA LATERAL ********************/

/*.lateral-bar-pages {
    left: -250px;
}*/

.lateral-bar {
    position: fixed;
    height: 100vh;
    top: 0px;
    background: rgba(30, 54, 59, 0.9);
    width: 250px;
    color: white;
    z-index: 998;
    padding-top: 130px;
    /*transition: left 0.15s ease-in-out;
    -o-transition: left 0.15s ease-in-out;
    -moz-transition: left 0.15s ease-in-out;
    -webkit-transition: left 0.15s ease-in-out;*/
}

.lateral-bar ul {
    width: 100%;
    list-style: none;
    padding-left: 5%;
}

.lateral-bar ul li {
    margin-bottom: 30px;
    margin-right: 10%;
    padding-left: 10%;
    font-size: 22px;
}

.lateral-bar ul li a{
    color: white;
    text-decoration: none;
}

/**************** BARRA SUPERIOR *****************/ 

.upper-bar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    z-index: 999;
}


.img-container > img {
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.upper-bar > p{
    color: white;
    margin: 0;
    font-size: 18px;
}

.tiny-bar{
    width: 4px;
    height: 40px;
    margin-right: 20px;
    background: #737373;
    vertical-align: middle;
}