<div class="upper-bar">
  <div routerLink="" class="img-container"><img src="./assets/img/logo.png"/></div>
  <div class="tiny-bar"></div>
  <p>TECHNOLOGY</p>
  <div [ngStyle]="getAccessibilityState()? aOn : aOff" class="a-bar" tabindex="1" (click)="accessibilitySwitch()" (keydown)="onKeydown($event)">
    <img src="./assets/img/acessibilidade.png" tabindex="1" alt="Botão de ativar modo acessibilidade / Turn on accessibility mode">
  </div> 
</div>

<label [ngClass]="menuStyle" class="menu-button" for="menu"> 
  <div class="menu-stripes">
    <div class="white-stripe"></div> 
    <div class="white-stripe"></div> 
    <div class="white-stripe"></div> 
  </div>
  <div class="menu-text">Menu</div>
</label>

<input id="menu" type="checkbox" (click)="changeState()">
<div class="lateral-bar" [ngClass]="barStyle" [@anim]="check">
  <ul>
    <li *ngFor="let page of pages"><a [routerLink]="page.path" [fragment]="page.fragment">{{page.text}}</a></li>
  </ul>
</div>