<div class="main">
  <div class="container">
    <span [ngStyle]='getAccessibilityState()? aOn : null' class="about-text">_SOBRE</span>

    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div [ngStyle]='getAccessibilityState()? aOn : null' class="info-text ident-text">
          Texto Texto Texto Texto Texto Texto
          Texto Texto Texto Texto Texto Texto
        
        </div>
      </div>
    </div>
    <span [ngStyle]='getAccessibilityState()? aOn : null' class="about-text">_LOCALIZAÇÃO</span>
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div [ngStyle]='getAccessibilityState()? aOn : null' class="info-text ident-text">
          Texto Texto Texto Texto Texto Texto
          Texto Texto Texto Texto Texto Texto
        
        </div>
      </div>
    </div>
    <span [ngStyle]='getAccessibilityState()? aOn : null' class="about-text">_PROJETOS</span>
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div [ngStyle]='getAccessibilityState()? aOn : null' class="info-text ident-text">
          Texto Texto Texto Texto Texto Texto
          Texto Texto Texto Texto Texto Texto
        
        </div>
      </div>
    </div>
    <span [ngStyle]='getAccessibilityState()? aOn : null' class="about-text">_SOBRE</span>
    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div [ngStyle]='getAccessibilityState()? aOn : null' class="info-text ident-text">
          Texto Texto Texto Texto Texto Texto
          Texto Texto Texto Texto Texto Texto
        
        </div>
      </div>
    </div>
    <div class="espaco-fim"></div>
  </div>
</div>