<div class="main">
  <div class="container">
    <span class="about-text">_LOCAL</span>

    <div class="row">
      <div class="col-11 col-md-12 center-block about-img map-md">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.245401047798!2d-49.03155368504457!3d-22.344360985300714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf5dee6f9aa857%3A0xac7cf94acf63b8cb!2sLTIA+-+Applied+Information+Technology+Laboratory!5e0!3m2!1sen!2sbr!4v1532957207543" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-11 col-md-12 center-block about-img map-sm">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.245401047798!2d-49.03155368504457!3d-22.344360985300714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf5dee6f9aa857%3A0xac7cf94acf63b8cb!2sLTIA+-+Applied+Information+Technology+Laboratory!5e0!3m2!1sen!2sbr!4v1532957207543" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    

    <div class="center-text">
      Av. Engenheiro Edmundo Carrijo Coube, 14-01<br>
      Prédio LTIA<br>
      Vargem Limpa, Bauru - SP<br>
      17033-360
    </div>
  </div>
</div>