@media(max-width: 768px){   
    span.about-text {
        margin-bottom: 0px;
        margin-top: 100px;
        font-size: 35px;
        line-height: 41px;
    }
}

@media(max-width: 576px){
    div.about-img {
        margin: 35px auto;
        width: 90%;
    }
    div.center-text {
        margin: 25px 0 50px 0;
    }
}

.main {
    position: relative;
    background: url('/assets/img/blue-bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 0;
    color: white;
}

.map-md {
    z-index: 1000;
    display: flex;
    max-width: 100%;
    margin: 5px 10px;
}
.map-sm {
    display: none;
    z-index: 1000;
    max-width: 100%;
    margin: 0px;
}
@media(max-width: 700px) {
    .map-sm {
        display: flex;
    }
    .map-md {
        display: none;
    }
}



.about-img > .img-outline {
    position: absolute;
    border: white 3px solid;
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: -7% 7% 7% -7%;
}

.about-img > img{
    width: 100%;
}

.about-img {
    margin: 50px 0 30px 0;
    position: relative;
    overflow: visible;
    left: 5%;
    top: 5%;
    width: 100%;
}

.about-text {
    font-size: 48px;
    line-height: 56px;
    margin-top: 150px;
}   

.main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    margin: 50px 0 100px 0;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
}