<div class="main">
  <div class="container">
    <span class="about-text">_LOCAL</span>

    <div class="row">
      <div class="col-11 col-md-12 center-block">
        <div class="about-img">
          <div class="img-outline"></div>
          <img src="assets/img/location/image.png">
        </div>
      </div>
    </div>

    <div class="center-text">
      Av. Engenheiro Edmundo Carrijo Coube, 14-01<br>
      Prédio LTIA<br>
      Vargem Limpa, Bauru - SP<br>
      17033-360
    </div>
  </div>
</div>