@media only screen and (max-width: 768px){
    .tiny-bar{
        display: none;
    }

    .upper-bar > p{
        display: none;
    }

    div.img-container > img {
        position: relative;
        left: -50%;
        margin-left: 0;
        margin-right: 0;
    }
    div.responsive-menu{
        display: block;
    }
    div.img-container {
        position: absolute;
        left: 50%;
    }
}

.reponsive-menu-contents ul{
    list-style: none;
    padding: 0;
}

.reponsive-menu-contents {
    max-height: 0;
    overflow: hidden;
}

.reponsive-menu-contents a{
    display: block;
    line-height: 1.5em;
}

input#menu{
    display: none;
}

#menu:checked ~ .reponsive-menu-contents{
    max-height: 100%;
}

.responsive-menu{
    top: 30px;
    padding-left: 30px;
    position: absolute;
    display: none;
    color: white;
    line-height: 0px;
}
.upper-bar {
    height: 60px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    z-index: 1;
}


.img-container > img {
    margin-top: 5px;
    height: 60px;
    margin-left: 20px;
    margin-right: 10px;
}

.upper-bar > p{
    color: white;
    margin: 0;
    font-size: 18px;
}

.tiny-bar{
    width: 4px;
    height: 40px;
    margin-right: 20px;
    background: #737373;
    vertical-align: middle;
}