@media(max-width: 576px){
    p.item-name {
        margin-left: 0;
        font-size: 17px;
    }
    p.item-role {
        margin-left: 0;
        font-size: 14px;
    }
}

.item-name {
    font-size: 17px;
    line-height: 15px;
    margin-bottom: 0;
}

.item-role {
    height: 25px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 12px;
    line-height: 23px;
}

.item-img {
    position: relative;
    overflow: visible;
    left: 5%;
    top: 5%;
    width: 70%;
}

.item-img > .img-outline {
    position: absolute;
    border: white 3px solid;
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: -7% 7% 7% -7%;
}

.item-img > img{
    width: 100%;
}

.social-media{
    list-style: none;
}

.social-media li {
    display: inline;
    margin-right: 5px;
}
