@media(max-width: 990px){

    div.project-item {
        flex-basis: 40%;
        margin: 25px 5%;
    }
}

@media(max-width: 768px){

    div.project-item {
        flex-basis: 51%;
        margin: 25px auto;
    }
}

@media(max-width: 576px){
    div.project-item {
        flex-basis: 80%;
    }

    div.info-text {
        font-size: 17px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h3 {
        font-size: 17px;
    }

    span.project-text {
        font-size: 35px;
        line-height: 41px;
        margin-top: 120px;
        margin-bottom: 30px;
    }
}
.main {
    position: relative;
    background: url('/assets/img/blue-bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: row;
}

.main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-text {
    font-size: 48px;
    line-height: 56px;
    margin-top: 150px;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 50px;
}

.info-text {
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    text-indent: 1.5em;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-item {
    flex: 0 1 25%;
    margin: 25px 3%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

