<div class="main">
  <div class="container">
    <span class="about-text">_ACESSIBILIDADE</span>

    <div class="row about-img">
      <div class="col-11 col-md-12 center-block">
        <img src="assets/img/acessibilidade.png">
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-12 center-block">
        <div class="info-text ident-text">
          Visando proporcionar a melhor experiência possível aos usuários do site,
          foi implementado o modo de acessibilidade, que se encontra no canto superior
          direito de todas as páginas, para atender as necessidades de pessoas com
          deficiências visuais e facilitar a navegação dos mesmos através de nossos conteúdos.
          Foi decidido fazer essa abordagem inclusiva pois, de acordo com dados do IBGE de 2010,
          no Brasil há mais de 6,5 milhões de pessoas com alguma deficiência visual.
          Isso significa que, quando um site não é acessível, muitas pessoas deixam de acessá-lo
          e perdem a informação do conteúdo, gerando tanto a exclusão digital dessas pessoas
          quanto a limitação de acesso ao site e sua acessibilidade.
          Como foi dito pelo pesquisador Edson Rufino, do Instituto Nacional da Propriedade
          Industrial (INPI) e membro do grupo de trabalho em acessibilidade web do W3C na 
          <a href="http://redeglobo.globo.com/globociencia/noticia/2013/06/sites-acessiveis-permitem-que-pessoas-com-deficiencia-usem-web.html">reportagem do site da Rede Globo</a>,
          “em primeiro lugar, um site acessível permite o seu uso por qualquer pessoa,
          independente de suas características, ou formas de acesso.
          Em segundo lugar, projetar um site para acessibilidade normalmente gera alguns 
          ‘efeitos colaterais’ bem interessantes, pois geralmente as páginas carregam mais rápido 
          e se tornam mais fáceis de serem achadas pelos principais buscadores, como o Google, por 
          exemplo, ficando nas melhores posições nos resultados de busca”.
          Dessa maneira, diante da preocupação do Ltia em relação à acessibilidade web, 
          inclusão e usabilidade, o site foi projetado visando conter as boas práticas para 
          uma experiência de usuário mais abrangente possível através de um site inclusivo por 
          meio desse botão no canto superior da tela, com as possibilidades de alto contraste, 
          preto e branco, cores originais e aumento ou diminuição da fonte de site. 
        </div>
      </div>
    </div>
    <div class="espaco-fim"></div>
  </div>
</div>