<div class="main">
  <div class="container">
    <span class="member-text" [ngStyle]="getAccessibilityState()? aOn : null" >_EQUIPE</span>
    <h3 [ngStyle]="getAccessibilityState()? aOn : null" >QUEM FAZ PARTE DO LTIA?</h3>
    <div [ngStyle]="getAccessibilityState()? aOn : null" class="info-text">
      O LTIA atualmente é composto pelos seguintes integrantes:
    </div>
    <div class="member-container">
      <div class="member-item" *ngFor="let member of members; let i = index" [ngStyle]="getAccessibilityState()? aOn : null">
        <outline-item-team [name]="member.name" [role]="member.role" [imgUrl]="member.imgUrl" [behance]="member.behance" [github]="member.github" [linkedin]="member.linkedin" [facebook]="member.facebook" [twitter]="member.twitter" [instagram]="member.instagram"></outline-item-team>
      </div>
    </div>
    <div  [ngStyle]="getAccessibilityState()? aOn : null" class="info-text">
      Todas as eventuais logos e marcas, que possam ser encontradas nesta página, são propriedade de suas respectivas organizações
    </div>
  </div>
</div>