<div class="main">
  <div class="container">
    <span class="member-text">_EQUIPE</span>
    <h3>QUEM FAZ PARTE DO LTIA?</h3>
    <div class="info-text">
      O LTIA atualmente é composto pelos seguintes integrantes
    </div>
    <div class="member-container">
      <div class="member-item" *ngFor="let member of members; let i = index">
        <outline-item [name]="member.name" [imgUrl]="member.imgUrl"></outline-item>
      </div>
    </div>
    <div class="info-text">
      Todas as eventuais logos e marcas, que possam ser encontradas nesta página, são propriedade de suas respectivas organizações
    </div>
  </div>
</div>