<ltia-carousel (swipeleft)="swipedLeft()" (swiperight)="swipedRight()">
    <ltia-carousel-item itemText="SOBRE" imgSrc="assets/img/home/site-sobre.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="LTIA NO MUNDO" imgSrc="assets/img/home/site-ltia-no-mundo.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="PROJETOS" imgSrc="assets/img/home/site-projetos.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="CURSOS" imgSrc="assets/img/home/site-cursos.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="EQUIPE" imgSrc="assets/img/home/site-equipe.png"></ltia-carousel-item>
</ltia-carousel>

