<ltia-carousel>
    <ltia-carousel-item itemText="SOBRE" imgSrc="assets/img/site-sobre.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="LTIA NO MUNDO" imgSrc="assets/img/site-ltia-no-mundo.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="PROJETOS" imgSrc="assets/img/site-projetos.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="CURSOS" imgSrc="assets/img/site-cursos.png"></ltia-carousel-item>
    <ltia-carousel-item itemText="EQUIPE" imgSrc="assets/img/site-equipe.png"></ltia-carousel-item>
</ltia-carousel>

